#outerContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.innerContainer {
  display: flex;
}

.gridUnit {
  border: 2px black solid;
  box-sizing: border-box;
}

.colorGridUnit {
  background-color: black;
}