#outerContainer {
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
}

.gridUnit {
  width: 100px;
  height: 100px;
  border: 2px black solid;
}

.colorGridUnit {
  background-color: black;
}